* {
    
    text-align: center;
    
    }

h1 {
        background-color: rgba(35, 179, 136, 0.365);
        color: rgb(51, 51, 51);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
        text-shadow: rgba(255, 255, 255, 0.7) 2px 2px 4px;
        text-align: center;
        font-family: Futura, sans-serif;
        font-size: 2.5em;
        padding: 30px;
    }
    
    



/* CSS for the table */
table {
    width: 90%; /* Make the table fill the container */
    margin: 0 auto; /* Center the table horizontally */
    border-collapse: collapse; /* Collapse the borders between cells */
    table-layout: fixed; /* Fix the table layout */
}

/* CSS for table headers */
th {
    background-color: #f2f2f2; /* Background color for headers */
    text-align: centre; /* Align header text to the left */
    padding: 8px; /* Add padding to the header cells */
    border: 1px solid #ddd; /* Add border to the header cells */
}

/* CSS for table data cells */
td {
    padding: 8px; /* Add padding to the data cells */
    border: 1px solid #ddd; /* Add border to the data cells */
}

/* Optional: Style alternating rows differently */
tr:nth-child(even) {
    background-color: #f9f9f9; /* Background color for even rows */
}

#additionalInput {
    width: 90%; /* Adjust width as needed */
    height: 95%; 
    padding: 8px; /* Add some padding for better appearance */
    border-radius: 8px; /* Rounded edges */
    background-color: #f0f0f0; /* Light grey background color */
    border: 1px solid #ccc; /* Optional: light border */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}


footer {
    position: fixed; /* Fixed position */
    margin: 0 auto; /* Center the table horizontally */
    bottom: 0; /* Align to the bottom of the viewport */
    width: 100%; /* Full width */
    background-color: #c9c3c31f; 
    color: #15070793; /* White font color */
    padding: 5px; /* Add padding for spacing */
    text-align: center; /* Center-align text */
    font-size: smaller; /* Smaller font size */
    font-style: italic; /* Italics */
    left: 50%; /* Position the left edge at the center */
    transform: translateX(-50%); /* Adjust to center */
}