<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Monitoring Portal</title>
    <link rel="stylesheet" href="/style.css">
    <style>body{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;}</style>
</head>
<body>
    <h1>CDB/IB Project Progress Tracker</h1><br>
    
    <h3>Welcome to Strategic Resourcing's Project Monitoring Portal. You may submit the latest achievements of your ongoing CDB/IB projects here.</h3><br>
  

    <p id="start">To begin, please key in your Project ID below:</p><br>
    
    <form id="projectIDForm" action="/submit" method="POST">
        <input type="text" id="projectID" name="projectID" required placeholder="Project ID">
        <button type="submit" id="start">Submit</button>
    </form>

    <% if (typeof error !== 'undefined') { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    
    <footer>
        <p>Disclaimer: This website is created for learning purposes only. The information provided here should not be considered professional advice. Please note that we make no guarantees regarding the accuracy, completeness, or reliability of the contents of this website. Any actions you take based on the contents of this website are at your own risk. We are not liable for any losses or damages incurred from the use of this website.</p>
    </footer>

    <script src="script.js"></script>
</body>




</html>

