<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Monitoring Portal</title>
    <link rel="stylesheet" href="style.css">
    <style>body{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;}</style>
</head>
<body>
        <p id="membersWelcome">Welcome to the Members Portal. Please key in your username and password to view all projects.</p><br>
        <form id="userCredentialsForm">
            <label for="userID">User ID:</label>
            <input type="text" id="userID" name="userID"><br>
        
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br>
            <input type="submit" value="Submit">
        </form>
    
    <button id="logIn">Member Log in</button>
    <button id="logOut">Member Log out</button>
    <button id="backButton3"><--Go Back</button>
    
    <script src="script.js"></script>
</body>
</html>

