<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Monitoring Portal</title>
    <link rel="stylesheet" href="/style.css">
    <style>body{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;}</style>
</head>
<body>
  <h1>CDB/IB Project Progress Tracker</h1><br><br>
    
  <h3>Welcome to Strategic Resourcing's Project Monitoring Portal. You may submit the latest achievements of your ongoing CDB/IB projects here.</h3><br>
  

    <p id="projDetails">Your project details are displayed below:</p>

    <% if (project) { %>
        <table id = "table-container">
            <thead>
              <tr>
                <% const columnTitles = ['Project ID', 'Project Name', 'Approved Funding', 'Approved MMF', 'Outcome Metric', 'Target', '6-mth Achievement', '1-yr Achievement','1.5-yr Achievement', '2-yr Achievement', '2.5-yr Achievement', '3-yr Achievement']; /* Pre-defined column titles */ %>
                <% let nonNullFieldCount = 0; %>
                <% for (const key in project) { %>
                  <% if (key !== 'id' && key !== 'hasSubmitted' && project[key] !== null) { %>
                    <th><%= columnTitles[nonNullFieldCount] %></th>
                    <% nonNullFieldCount++; %>
                  <% } %>
                <% } %>
                <!-- Additional column with dynamic header -->
                <th><%= columnTitles[nonNullFieldCount] %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% for (const key in project) { %>
                  <% if (key !== 'id' && key !== 'hasSubmitted' && project[key] !== null) { %>
                    <td><%= project[key] %></td>
                  <% } %>
                <% } %>
                <!-- Additional column with input field and submit button -->
                <td>
                  <input type="text" id="additionalInput" placeholder="Enter value">
                  <input type="hidden" id="projectID2" name="projectID" value="<%= project.projectID %>">
                  <button id="submitButton">Submit</button>
                </td>
              </tr>
            </tbody>
          </table>
    <% } else { %>
        <p>No project data available.</p>
    <% } %>
<br><br><br>


    <a href="/">Back to Home</a>

    
    
    <script src="script.js"></script>
</body>
</html>

